<template>
  <div>
    <div class="generate_view">
      <div class="generate_view__header">
        <div class="generate_view__header__title">
          <span class="generate_view__header__title__text">Generate</span>
        </div>
      </div>
      <div class="generate_view__body">
        <div class="generate_view__body__header">
          <div class="generate_view__body__header__button_group">
            <ProgressSpinner
              class="spinner"
              strokeWidth="8"
              animationDuration=".5s"
              v-show="isGenerating || isPreviewing"
            />
            <Button
              label="Get Protocol Design File"
              class="base_button_white medium_button_"
              @click="exportProtocol"
            />
            <Button
              label="Preview Steps"
              class="base_button_white medium_button_"
              @click="simulateProtocol"
              :disabled="isPreviewing"
            />
            <Button
              label="Get Robot Protocol"
              class="base_button_white medium_button_"
              @click="generateProtocol"
              :disabled="isGenerating"
            />
          </div>
        </div>
        <div
          class="generate_view__body__simulation_view"
          :class="{
            'generate_view__body__simulation_view--extended': isExtendedView,
          }"
        >
          <div class="generate_view__body__simulation_view__range-selection">
            <div>
              <h3>Select Generation Range (Optional)</h3>
              <SelectButton
                v-model="isExtendedView"
                class="p-button-raised"
                optionLabel="label"
                optionValue="value"
                :options="[
                  { label: 'List View', value: false },
                  { label: 'Table View', value: true },
                ]"
              />
            </div>
            <div
              class="generate_view__body__simulation_view__range-selection__content"
            >
              <StepsOverview
                :value="stepsList"
                :isExtendedView="isExtendedView"
                :activeStepIds="activeStepIds"
                :disabledStepIds="disabledStepIds"
                @step-click="onStepClick"
              />
            </div>
          </div>
          <div style="flex: 1 1 auto; min-width: 1px">
            <div class="generate_view__body__simulation_view__content">
              <ul
                class="generate_view__body__simulation_view__list"
                v-show="simulationTextArray.length >= 1"
              >
                <li v-for="(text, index) in simulationTextArray" :key="index">
                  {{ text }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { saveAs } from "file-saver";
import types from "../../types";
import { AuthGetter } from "../../types/store-modules/AuthTypes";
import StepsOverview from "../steps/StepsOverview.vue";
import { addPositionToSteps } from "../../utils/step-utils";
import { flatDeep } from "../../utils/nestedObjectActions";
import { deepCamelCaseToSnakeCase } from '../../utils/stringManipulation';
import cachedProtocolToFilename from '../../utils/protocol-filename';
import { loggingService } from '../../config/containers';
import { ParameterizedUserInputGetter } from "../../types/store-modules/ParameterizedUserInputType";

const stringify = require("json-stringify-pretty-compact");

/**
 * A component that renders the protocol generate view.
 */
export default {
  name: "GenerateView",
  components: {
    StepsOverview,
  },
  data() {
    return {
      /**
       * The content of the protocol simulation display.
       */
      simulationTextArray: [],
      /**
       * Determines if the user can generate a protocol robot file (or not).
       */
      canGenerateProtocol: false,
      /**
       * Disabled step ids that where used for the simulation. This must be the same disabled steps that are going
       * to be used for generating the robot protocol.
       */
      simulatedDisabledIds: [],
      /**
       * Indicates if a protocol robot file is currently being generated.
       */
      isGenerating: false,
      /**
       * Indicates if a protocol simulation is currently being run.
       */
      isPreviewing: false,
      /**
       * Steps will be enabled from this id.
       */
      rootStepIdFrom: null,
      /**
       * Steps will be disabled until this id.
       */
      rootStepIdTo: null,
      isExtendedView: false,
    };
  },
  computed: {
    ...mapGetters(["cachedProtocol"]),
    userName() {
      return this.$store.getters[AuthGetter.userName];
    },
    userEmail() {
      return this.$store.getters[AuthGetter.userEmail];
    },
    stepsList() {
      return this.$store.getters["cachedProtocolSteps"];
    },
    stepsRootMap() {
      return this.$store.getters.stepsRootMap;
    },
    /**
     * Steps that should be shown as selected.
     */
    activeStepIds() {
      return [this.rootStepIdFrom, this.rootStepIdTo].filter(
        (id) => id !== null
      );
    },
    disabledStepIds() {
      let disabledStepIds = [];

      if (this.rootStepIdFrom === null) {
        return [];
      }

      const indexFrom = this.flatStepIds.indexOf(this.rootStepIdFrom);

      if (this.rootStepIdTo !== null) {
        const indexTo = this.flatStepIds.indexOf(this.rootStepIdTo);
        disabledStepIds = [
          ...this.flatStepIds.slice(0, Math.min(indexFrom, indexTo)),
          ...this.flatStepIds.slice(Math.max(indexFrom, indexTo) + 1), // +1 to include the last step
        ];
        const rootStepTo = this.$store.getters.flattedCachedProtocolSteps.find(
          ({ id }) => id === this.rootStepIdTo
        );
        const rootStepFlatChildrenIds = flatDeep(rootStepTo.substeps).map(
          ({ id }) => id
        );
        disabledStepIds = disabledStepIds.filter(
          (id) => !rootStepFlatChildrenIds.includes(id)
        );
      } else {
        disabledStepIds = [...this.flatStepIds];
        // remove from the disabled steps the step in indexFrom
        disabledStepIds.splice(indexFrom, 1);
      }

      const rootStepFrom = this.$store.getters.flattedCachedProtocolSteps.find(
        ({ id }) => id === this.rootStepIdFrom
      );
      const rootStepFlatChildrenIds = flatDeep(rootStepFrom.substeps).map(
        ({ id }) => id
      );
      disabledStepIds = disabledStepIds.filter(
        (id) => !rootStepFlatChildrenIds.includes(id)
      );

      return disabledStepIds;
    },
    flatStepIds() {
      return this.$store.getters.flattedCachedProtocolSteps.map(({ id }) => id);
    },
  },
  methods: {
    /**
     * Exports string data into a Python file.
     *
     * @param {string} textData - The said string data.
     * @param {string} filename - The name of the said Python file.
     */
    exportPythonFile(textData, filename) {
      let blob = new Blob([textData], {
        type: "text/plain;charset=utf-8;",
      });
      saveAs(blob, filename);
    },
    /**
     * Exports an object into a JSON file.
     *
     * @param {object} jsonData - The said object.
     * @param {string} filename - The name of the said JSON file.
     */
    exportJSONFile(jsonData, filename) {
      let blob = new Blob([stringify(jsonData, null, 2)], {
        type: "text/plain;charset=utf-8;",
      });
      saveAs(blob, filename);
    },
    /**
     * Exports a JSON representation of the protocol in the protocol editor.
     */
    exportProtocol() {
      try {
        const protocol = JSON.parse(JSON.stringify(this.cachedProtocol));

        // Remove internal properties from the deep copy
        if (protocol.data) {
          delete protocol.data.dependencies;
          delete protocol.data.metadata;
          delete protocol.data.hasChanged;
          delete protocol.data.id;
        }
        console.log("protocol", protocol);

        this.exportJSONFile(
          protocol,
          `${cachedProtocolToFilename(this.cachedProtocol)}.json`,
        );

        this.$toast.add({
          severity: "info",
          summary: "Notification",
          detail: "Protocol Exported yo!",
          life: 2000,
        });
      } catch (error) {
        this.$toast.add({
          severity: "error",
          summary: "Error",
          detail: "Protocol Export Failed",
          life: null,
        });
      }
    },
    /**
     * Returns a formatted copy of the simulation text array.
     */
    formatSimulationTextArray(arr) {
      const errorEntries = arr.filter((item) => item.startsWith("ERROR:"));
      if (errorEntries.length) {
        this.offerOutIfTipsSolution(errorEntries);
        return errorEntries;
      }
      return arr;
    },
    offerOutIfTipsSolution(errorEntries) {
      const regex = new RegExp(
        /^ERROR: <class 'opentrons.protocol_api.labware.OutOfTipsError'> @ \d+ - Step: (.*)$/
      );
      const stepNames = errorEntries
        .map((errorEntry) => {
          const match = errorEntry.match(regex);
          return match && match[1];
        })
        .filter((stepName) => stepName);

      if (!stepNames.length) {
        return;
      }

      const firstFailedStep = stepNames[0];

      this.$toast.add({
        severity: "warn",
        summary: "Extra Steps are needed",
        detail: `Preview of protocol has ended due to an "out of tips error" in step: "${firstFailedStep}".
           Makes sure you have assigned a tip-rack to each pipette you use in the protocol and add tip-refill steps or additional tip-racks as needed.`,
      });
    },
    /**
     * Generates the simulation output for the protocol in the protocol editor.
     */
    async simulateProtocol() {
      this.isPreviewing = true;
      try {
        const response = await this.$store.dispatch(types.SIMULATE_PROTOCOL, {
          data: this.protocolToExportableObject(),
        });

        this.simulationTextArray = this.formatSimulationTextArray(
          response.data.simulation.split(/\r?\n/)
        );
        this.canGenerateProtocol = true;
        this.simulatedDisabledIds = [...this.disabledStepIds];
        this.isPreviewing = false;
        this.$toast.add({
          severity: "info",
          summary: "Notification",
          detail: "Protocol Simulated",
          life: 2000,
        });
        loggingService.logObject({
          user: this.userEmail,
          action: "PREVIEW",
          summary: `${this.userName} PREVIEWED Protocol with ID: ${this.cachedProtocol.id} and disabled steps ${this.disabledStepIds}`,
        });
      } catch (error) {
        let errorDetails = error.message;
        if (error.response) {
          if (error.response.status === 422) {
            this.simulationTextArray =
              error.response.data.simulation.split(/\r?\n/);
          } else if (error.response.status === 500) {
            errorDetails = 'Simulation of the protocol failed to execute in the backend. Please make sure the protocol is set to "shared" in the metadata, then contact automation team and share the URL of the protocol';
          }
        } else if (error.message === "Network Error") {
          // this is just a hack, I don't know why the error.response is not being set when the response is 500
          errorDetails = "Simulation of the protocol failed to execute in the backend. Please make sure the protocol is set to 'shared' in the metadata, then contact automation team and share the URL of the protocol";
        }

        


        this.$toast.add({
          severity: "error",
          summary: "Protocol Simulation Failed",
          detail: errorDetails,
          life: null,
        });
        loggingService.logObject({
          user: this.userEmail,
          action: "PREVIEW",
          summary: `${this.userName} PREVIEWED Protocol with ID: ${this.cachedProtocol.id} and disabled steps ${this.disabledStepIds}`,
          errors: `${error}`,
        });
        this.isPreviewing = false;
      }
    },
    /**
     * Generates the robot file for the protocol in the protocol editor.
     */
    async generateProtocol() {
      if (
        !this.canGenerateProtocol ||
        JSON.stringify(this.simulatedDisabledIds) !==
          JSON.stringify(this.disabledStepIds)
      ) {
        this.$toast.add({
          severity: "warn",
          summary: "Notification",
          detail: "Kindly preview your enabled steps first",
          life: 2000,
        });
        return;
      }
      this.isGenerating = true;
      try {
        const response = await this.$store.dispatch(types.GENERATE_PROTOCOL, {
          data: this.protocolToExportableObject(),
        });

        this.exportPythonFile(
          response.data.protocol,
          `${cachedProtocolToFilename(this.cachedProtocol)}.py`
        );
        this.isGenerating = false;
        this.$toast.add({
          severity: "info",
          summary: "Notification",
          detail: "Protocol Generated",
          life: 2000,
        });
        loggingService.logObject({
          user: this.userEmail,
          action: "GENERATE",
          summary: `${this.userName} GENERATED Protocol with ID: ${this.cachedProtocol.id} and disabled steps: ${this.disabledStepIds}`,
        });
      } catch (error) {
        this.$toast.add({
          severity: "error",
          summary: "Notification",
          detail: "Protocol Generation Failed",
          life: null,
        });
      }
    },

    onStepClick({ step, parents }) {
      const rootStep = parents.at(-1) || step;
      if (this.rootStepIdFrom === null) {
        this.rootStepIdFrom = rootStep.id;
      } else if (this.rootStepIdFrom === rootStep.id) {
        this.rootStepIdFrom = this.rootStepIdTo;
        this.rootStepIdTo = null;
      } else if (this.rootStepIdTo === null) {
        this.rootStepIdTo = rootStep.id;
      } else if (this.rootStepIdTo === rootStep.id) {
        this.rootStepIdTo = null;
      } else {
        this.rootStepIdTo = rootStep.id;
      }
    },

    protocolToExportableObject() {
      const protocol = this.cachedProtocol.data;
      const enabledSteps = protocol.steps.filter(
        ({ id }) => !this.disabledStepIds.includes(id)
      );

      return deepCamelCaseToSnakeCase({
        metadata: this.cachedProtocol.data.metadata,
        deck: protocol.deck,
        steps: addPositionToSteps(enabledSteps),
        liquid_classes: protocol.liquid_classes,
        sequences: protocol.sequences,
        stepCounter: protocol.stepCounter,
        sequenceCounter: protocol.sequenceCounter,
        liquidClassCounter: protocol.liquidClassCounter,
        parameterizedUserInput: this.$store.getters[ParameterizedUserInputGetter.parameterizedUserInput],
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.generate_view__header__title__text {
  font-weight: 600;
  font-size: 18px;
  color: #040716;
  margin-left: 32px;
}
.spinner {
  height: 29px;
  width: 29px;
}
.generate_view {
  min-height: 650px;
  min-width: 1px;
  width: 95%;
  height: 90vh;
  align-self: center;
  justify-self: center;
  background: #efefff;
  box-shadow: 6px 6px 9px 4px rgba(0, 0, 0, 0.25),
    -10px -10px 9px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  display: grid;
  direction: column;
  grid-template-rows: auto 1fr;
}
.generate_view__header {
  width: 1140;
  height: 48px;
  background: #efefff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: grid;
  align-content: center;
}
.generate_view__body {
  display: grid;
  grid-template-rows: auto 10fr;
  padding: 20px;
}
.generate_view__body__header {
  display: grid;
  justify-content: end;
}
.generate_view__body__header__button_group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 6px;
  width: 100%;
}
.generate_view__body__simulation_view {
  margin-top: 18px;
  padding-left: 16px;
  height: 70vh;
  overflow: auto;
  -webkit-user-select: text; /* Chrome all / Safari all */
  -moz-user-select: text; /* Firefox all */
  -ms-user-select: text; /* IE 10+ */
  user-select: text;

  display: flex;
  flex-direction: row;
  &--extended {
    display: block;
    .generate_view__body__simulation_view__range-selection {
      border-right: none;
      border-bottom: 1px solid #dedede;
      padding-bottom: 1rem;
    }
  }
}
.generate_view__body__simulation_view__range-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1rem;
  padding-right: 1.5rem;
  border-right: 1px solid #dedede;
  &__content {
    margin-top: 3rem;
    overflow-y: auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
}
.generate_view__body__simulation_view__content {
  position: relative;
  height: auto;
  width: 100%;
}
.generate_view__body__simulation_view__list {
  color: #555;
  font-size: 16px;
  font-weight: 530;
  padding: 0;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.generate_view__body__simulation_view__list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  height: auto;
  padding: 10px;
  padding-left: 60px;
}
.generate_view__body__simulation_view__list li:hover {
  background-color: #ffffffaa;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.generate_view__body__simulation_view__content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  background: radial-gradient(#55555599 6px, transparent 7px) repeat-y;
  background-size: 40px 40px;
  border-right: 3px solid #ffaa9f;
  box-sizing: border-box;
}
</style>
