<template>
  <div class="protocols-list-view">
    <div class="protocols-list-view__main_view">
      <div
        class="protocols-list-view__main_view__scroll_panel"
        v-if="filteredProtocolObjects.length"
      >
        <ProtocolCard
          v-for="protocol in filteredProtocolObjects"
          :key="protocol.id"
          :protocol="protocol"
        />
      </div>
      <div class="protocols-list-view__main_view__empty_message" v-else>
        Sorry, no protocols here yet!
      </div>
    </div>
  </div>
</template>

<script>
import { AuthGetter } from '../../types/store-modules/AuthTypes';
import ProtocolCard from "../base/ProtocolCard.vue";
import SHARING_MODES from '../../constants/sharing-modes';
import { SORT_BY_DIRECTION } from '../../constants/sort-by-options';

export default {
  name: "ProtocolsListView",
  components: {
    ProtocolCard,
  },
  props: {
    /**
     * The user protocol search input.
     */
    searchString: String,
    /**
     * List of categories or subcategories to filter the list of protocols
     */
    selectedSubcategories: Object,
    /**
     * Team to filter the list of protocols
     */
    team: Object,
    /**
     * Mode to show, either 'me' or 'shared'
     * @type SHARING_MODES
     */
    mode: String,
    /**
     * How to sort the list of protocols.
     * @type { key: SORT_BY_KEY; direction: SORT_BY_DIRECTION }
     */
    sortBy: Object,
    /**
     * The project protocols.
     */
    protocols: Array,
  },
  methods: {
    /**
     * Asserts that a string matches a list of search keywords.
     *
     * @param {array} searchKeys - The said search keywords.
     * @param {string} str - The said string.
     */
    assertKeywordsMatch(searchKeys, str) {
      for (let i = 0; i < searchKeys.length; i++) {
        if (!str.includes(searchKeys[i])) return false;
      }
      return true;
    },
    /**
     * Asserts that a protocol object matches a given search string.
     *
     * @param {object} protocol - The said protocol object.
     */
    assertProtocolMatchesSearchString(protocol) {
      if (!this.searchString) {
        return true;
      }

      const searchKeys = this.searchString.toLowerCase().split(" ");

      return this.assertKeywordsMatch(searchKeys, protocol.name.toLowerCase())
        || this.assertKeywordsMatch(searchKeys, protocol.description.toLowerCase())
        || this.assertKeywordsMatch(searchKeys, protocol.createdBy.toLowerCase());
    },
    assertProtocolMatchesSubcategories(protocol) {
      if (Object.values(this.selectedSubcategoriesMap).every((checked) => !checked)) {
        return true;
      }

      return this.selectedSubcategoriesMap[protocol.subcategory];
    },
    assertProtocolMatchesTeam(protocol) {
      if (!protocol.team) {
        return 'no-team' === this.team.id;
      }

      return protocol.team === this.team.id;
    },
    assertProtocolMatchesMode(protocol) {
      if (this.mode === SHARING_MODES.shared) {
        return protocol.isShared;
      }

      if (this.mode === SHARING_MODES.me) {
        return protocol.createdBy === this.currentUserEmail;
      }

      return false;
    }
  },
  computed: {
    currentUserEmail() {
      return this.$store.getters[AuthGetter.userEmail];
    },
    selectedSubcategoriesMap() {
      return Object.entries(this.selectedSubcategories)
        .reduce((map, [key, { checked }]) => ({
          ...map,
          [key]: checked,
        }), {});
    },
    /**
     * Returns a list of protocols to be listed filtered by the user's search term(s).
     */
    filteredProtocolObjects() {
      const sortDirectionFactor = this.sortBy.direction === SORT_BY_DIRECTION.ASC ? 1 : -1;

      return this.protocols.filter((protocol) =>
        this.assertProtocolMatchesSearchString(protocol)
        && this.assertProtocolMatchesSubcategories(protocol)
        && this.assertProtocolMatchesTeam(protocol)
        && this.assertProtocolMatchesMode(protocol)
      ).sort((protocolA, protocolB) => {
        if (protocolA[this.sortBy.key] < protocolB[this.sortBy.key]) {
          return -1 * sortDirectionFactor;
        }
        if (protocolA[this.sortBy.key] > protocolB[this.sortBy.key]) {
          return sortDirectionFactor;
        }

        return 0;
      });
    },
  },
};
</script>

<style type="scss" scoped>
.protocols-list-view {
  display: block;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.protocols-list-view__main_view {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.protocols-list-view__main_view__scroll_panel {
  display: grid;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(210px, 22vh);
  grid-row-gap: 22px;
  grid-column-gap: max(22px, 1vw);
}
.protocols-list-view__main_view__empty_message {
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: center;
  font-style: italic;
  font-weight: 350;
  font-size: 14px;
}
</style>
