<template>
  <ExploreLayout :title="title" :goBackLocation="{ name: 'explore-protocols-root' }">
    <template #header="{ toggle }">
      <div class="protocols-view__header">
        <div style="display: flex; align-items: center;">
          <InputText
            type="text"
            placeholder="Search by name, description or author"
            class="protocols-view__header__title__input--search"
            v-model.lazy="searchString"
          />
          <Button icon="pi pi-filter" class="p-button-rounded p-button-text p-button-plain" style="margin-left: 0.5rem" @click="toggle" />
          <SelectButton
            v-model="mode"
            :options="modeOptions"
            optionLabel="label"
            optionValue="value"
            style="margin-left: 0.5rem"
            class="protocols-view__toggle-mode"
          >
            <template #option="{ option }">
              <i
                class="pi"
                :class="{
                  'pi-user': option.value === 'me',
                  'pi-users': option.value === 'shared',
                }"
                style="margin-right: 0.25rem"
              /> {{ option.label }}
            </template>
          </SelectButton>
        </div>
        <Button
          :icon="isRefreshing ? 'pi pi-spin pi-spinner' : 'pi pi-refresh'"
          class="base_button_white medium_button_"
          v-tooltip="'Refresh List'"
          @click="refreshProtocolList"
          :disabled="isRefreshing"
        />
      </div>
    </template>
    <template #header-details>
      <div>
        <h4 style="margin-top: 0.5rem; margin-bottom: 0.75rem;">Categories Filter:</h4>

        <Tree :value="categoriesTree.root" selectionMode="checkbox" :selectionKeys.sync="selectedSubcategories" />
      </div>
      <div>
        <h4 style="margin-top: 0.5rem; margin-bottom: 0.75rem;">Sort By:</h4>
        <div style="display: flex; align-items: stretch;">
          <SelectButton
            v-model="sortBy.key"
            :options="sortByKeyOptions"
            optionLabel="label"
            optionValue="value"
            style="margin-left: 0.5rem;"
          >
            <template #option="{ option }">
              <span>{{ option.label }}</span>
            </template>
          </SelectButton>
          <SelectButton
            v-model="sortBy.direction"
            :options="sortByDirectionOptions"
            optionLabel="label"
            optionValue="value"
            class="protocols-view__sort-direction"
          >
            <template #option="{ option }">
              <i
                v-tooltip.bottom="option.value === 'DESC' ? 'Newer first' : 'Older first'"
                class="pi protocols-view__sort-direction__icon"
                :class="{
                  'pi-arrow-up': option.value === 'ASC',
                  'pi-arrow-down': option.value === 'DESC',
                }"
              />
            </template>
          </SelectButton>
        </div>
      </div>
    </template>

    <div v-if="isRefreshing">
      <ProgressSpinner
        class="protocols-view__loading"
        animationDuration="1.5s"
      />
    </div>
    <ProtocolsListView
      v-else
      :searchString="searchString"
      :team="team"
      :selectedSubcategories="selectedSubcategories"
      :mode="mode"
      :sortBy="sortBy"
      :protocols="protocols"
    />
  </ExploreLayout>
</template>

<script>
import Tree from 'primevue/tree';
import { NO_TEAM, TEAMS_MAP } from '../../constants/teams';
import CATEGORIES_TREE from '../../constants/categories-tree';
import SHARING_MODES from '../../constants/sharing-modes';
import { SORT_BY_KEY, SORT_BY_DIRECTION } from '../../constants/sort-by-options'
import types from "../../types";
import ExploreLayout from '../layout/ExploreLayout.vue';
import ProtocolsListView from "./ProtocolsListView.vue";

/**
 * A component that renders the protocols view.
 */
export default {
  name: "ProtocolsView",
  components: {
    Tree,
    ExploreLayout,
    ProtocolsListView,
  },
  data() {
    return {
      /**
       * The user protocol search input.
       */
      searchString: "",
      mode: SHARING_MODES.me,
      sortBy: {
        key: SORT_BY_KEY.modifiedAt,
        direction: SORT_BY_DIRECTION.DESC,
      },
      selectedSubcategories: {},
      /**
       * Indicates if protocol list is being refreshed.
       */
      isRefreshing: false,
    };
  },
  computed: {
    team() {
      return TEAMS_MAP[this.$route.params.teamId];
    },
    title() {
      const teamTitle = this.team.id !== NO_TEAM.id ? `${this.team.name} Team` : this.team.name;

      return `${teamTitle} - ${this.mode === SHARING_MODES.me ? 'My Protocols' : 'Shared Protocols'}`;
    },
    modeOptions() {
      return [
        {
          label: 'Me',
          value: SHARING_MODES.me,
        },
        {
          label: 'Shared',
          value: SHARING_MODES.shared,
        },
      ];
    },
    sortByKeyOptions() {
      return [
        {
          label: 'Last Modification Date',
          value: SORT_BY_KEY.modifiedAt,
        },
        {
          label: 'Creation Date',
          value: SORT_BY_KEY.createdAt,
        },
      ];
    },
    sortByDirectionOptions() {
      return [
        {
          label: 'Desc',
          value: SORT_BY_DIRECTION.DESC,
        },
        {
          label: 'Asc',
          value: SORT_BY_DIRECTION.ASC,
        },
      ];
    },
    categoriesTree() {
      return CATEGORIES_TREE;
    },
    protocols() {
      return this.$store.getters.allProtocols;
    }
  },
  mounted() {
    this.refreshProtocolList();
  },
  methods: {
    /**
     * Refreshes protocol list.
     */
    async refreshProtocolList() {
      this.isRefreshing = true;
      await Promise.all([
        this.$store.dispatch(types.LOAD_PROTOCOLS),
        this.$store.dispatch(types.LOAD_PROJECT_OBJECTS),
      ]);
      this.isRefreshing = false;
    },
  },
};
</script>

<style type="scss" scoped>
.protocols-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.protocols-view__header__title__input--search {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 14px;
  width: 400px;
  height: 32px;
  border: none;
  margin-left: 31px;
}

.protocols-view__loading {
  display: block;
  height: 75px;
  margin: auto;
  margin-top: 3rem;
}

.protocols-view__toggle-mode::v-deep .p-button {
  border-radius: 25px;
}
.protocols-view__toggle-mode::v-deep .p-button:first-of-type {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.protocols-view__toggle-mode::v-deep .p-button:last-of-type {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.protocols-view__sort-direction {
  margin-left: 0.5rem;
  align-items: stretch;
  display: flex;
}

.protocols-view__sort-direction::v-deep .p-button {
  padding: 0;
}

.protocols-view__sort-direction .protocols-view__sort-direction__icon {
  margin-right: 0.25rem;
  font-size: 0.75em;
  padding: 0.5rem 1rem;
}
</style>
