<template>
  <section class="sign_in_view">
    <div class="sign_in_view__app_banner">
      <AppBanner dark />
    </div>
    <p class="sign_in_view__greeting">Hej!</p>
    <div class="sign_in__group">
      <div
        id="g_id_onload"
        :data-client_id="googleClientId"
        data-callback="handleCredentialResponse"
      />
      <div class="g_id_signin" data-type="standard"></div>
    </div>
  </section>
</template>

<script>
import AppBanner from '../base/AppBanner';
import { authService } from '../../config/containers';

window.handleCredentialResponse = function(response) {
  const jwtToken = response.credential;

  authService.login(jwtToken);
}

export default {
  name: "AuthenticationPage",
  components: {
    AppBanner,
  },
  computed: {
    googleClientId() {
      return process.env.VUE_APP_GOOGLE_AUTH_CLIENT_ID;
    },
  },
};
</script>

<style scoped>
.g_id_signin {
  margin-left: 80px;
}
.sign_in_view__app_banner {
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.sign_in_view {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 384px;
  height: 237px;

  box-shadow: -10px -10px 9px 4px rgba(255, 255, 255, 0.25),
    6px 6px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.sign_in_view__greeting {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #767676;
  opacity: 1;
  margin-top: 32px;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}
</style>
