<template>
  <StepsOverview
    :value="value"
    draggable
    :activeStepIds="[stepID]"
    :isExtendedView="isExtendedView"
    @step-click="onStepClick"
    @input="$emit('input', $event)"
  />
</template>

<script>
import { mapGetters } from "vuex";

import StepsOverview from '../steps/StepsOverview.vue';
import types from "../../types";

/**
 * A component that renders the step cards view.
 */
export default {
  name: "StepCardsView",
  components: {
    StepsOverview,
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null,
    },
    isExtendedView: Boolean,
  },
  computed: {
    ...mapGetters(["protocolEditorVariables"]),
    /**
     * A read/write object for the currently selected step.
     */
    stepID: {
      get: function() {
        return this.protocolEditorVariables.stepsstepID;
      },
      set: function(newValue) {
        this.$store.dispatch(types.UPDATE_STEP_VARIABLES, {
          stepsstepID: newValue,
        });
      },
    },
    /**
     * A read/write object for the form type of the currently selected step.
     */
    formType: {
      get: function() {
        return this.protocolEditorVariables.stepsFormType;
      },
      set: function(newValue) {
        this.$store.dispatch(types.UPDATE_STEP_VARIABLES, {
          stepsFormType: newValue,
        });
      },
    },
  },
  mounted() {
    window.document.addEventListener("keyup", this.onKeyUp);
  },
  beforeDestroy() {
    window.document.removeEventListener("keyup", this.onKeyUp);
  },
  methods: {
    onStepClick({ step }) {
      if (this.stepID === step.id) {
        return;
      }
      this.stepID = step.id;
      this.formType = step.type;
    },
    onKeyUp(event) {
      if (event.isComposing || event.code === 229) {
        return;
      }
      if (this.stepID >= 0) {
        if (event.ctrlKey && event.key === 'ArrowDown') {
          this.nextStep();
        }
        if (event.ctrlKey && event.key === 'ArrowUp') {
          this.previousStep();
        }
        if (event.ctrlKey && event.key === 'c') {
          this.cloneStep();
        }

        if (
          (event.key === 'Backspace' || event.key === 'Delete')
          && !['input', 'textarea'].includes(document.activeElement.tagName.toLowerCase())
        ) {
          this.deleteStep();
        }
      }
    },
    nextStep() {
      const currentStepIndex = this.value.findIndex(({ id }) => id === this.stepID);
      if (currentStepIndex + 1 < this.value.length) {
        this.onStepClick({
          step: this.value[currentStepIndex + 1]
        })
      }
    },
    previousStep() {
      const currentStepIndex = this.value.findIndex(({ id }) => id === this.stepID);
      if (currentStepIndex - 1 >= 0) {
        this.onStepClick({
          step: this.value[currentStepIndex - 1]
        })
      }
    },
    cloneStep() {
      const currentStepIndex = this.value.findIndex(({ id }) => id === this.stepID);
      this.$emit('clone-step', { step: this.value[currentStepIndex] });
    },
    deleteStep() {
      const currentStepIndex = this.value.findIndex(({ id }) => id === this.stepID);
      this.$emit('delete-step', { step: this.value[currentStepIndex] });
    },
  },
};
</script>
