<template>
  <ExploreLayout title="Protocols">
    <div class="teams-view__body">
      <div class="teams-view__body__main_view">
        <div class="teams-view__body__main_view__scroll_panel">
          <TeamCard
            v-for="team in teams"
            :key="team.id"
            :team="team"
          />
        </div>
      </div>
    </div>
  </ExploreLayout>
</template>

<script>
import TeamCard from "../base/TeamCard.vue";
import ExploreLayout from '../layout/ExploreLayout.vue';
import TEAMS, { NO_TEAM } from '../../constants/teams';

export default {
  name: "TeamsView",
  components: {
    TeamCard,
    ExploreLayout,
  },
  computed: {
    teams() {
      return [...TEAMS, NO_TEAM];
    },
  },
};
</script>

<style type="scss" scoped>
.teams-view__body {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.teams-view__body__main_view {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 76vh;
  overflow: auto;
}
.teams-view__body__main_view__scroll_panel {
  display: grid;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(210px, 22vh);
  grid-row-gap: 22px;
  grid-column-gap: max(22px, 1vw);
}
</style>
