<template>
  <div
    class="step-row"
    :class="{
      'step-row--active': active,
      'step-row--disabled': disabled,
      'step-row--empty': empty,
    }"
  >
    <div v-if="empty" class="step-item-empty">
      No Steps
    </div>
    <template v-else>
      <div
        v-for="slotName in slotNames"
        :key="slotName"
        class="step-item-extended-col"
        :class="[`step-item-extended-col--${slotName}`, { disabled: !$slots[slotName] }]"
        @click="$emit('click', $event)"
      >
        <slot :name="slotName" />
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'StepItemExtendedRow',
  props: {
    active: Boolean,
    disabled: Boolean,
    empty: Boolean,
  },
  computed: {
    slotNames() {
      return [
        'index',
        'name',
        'type',
        'source',
        'destination',
        'pipette',
        'tipsStrategy',
        'liquidClass',
        'volume',
        'additional-parameters',
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
.step-row {
  display: grid;
  grid-template-columns: 2.5rem repeat(8, minmax(6rem, 12rem))  minmax(12rem, 12rem);
  font-size: 0.75em;
  height: 100%;

  border: thin solid var(--surface-400);
  box-sizing: border-box;

  &--active {
    border: 1px solid #2196f3aa;
    .step-item-extended-col {
      background: #2196f325;
    }
  }
  &--disabled {
    opacity: 0.3;
  }
  &--empty {
    grid-template-columns: 1fr;
  }
}
.step-item-extended-col {
  cursor: pointer;
  min-width: 0px;
  border-right: 1px solid var(--surface-400);
  border-left: 0px solid var(--surface-400);
  padding: 0.5rem 1rem;
  background: var(--surface-f);
  box-sizing: border-box;

  &:first-child {
    border-left-width: 1px;
  }

  &.disabled {
    background: var(--surface-c);
  }
}

.step-item-empty {
  background: var(--surface-f);
  color: var(--surface-600);
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}
</style>
