<template>
  <StepItemExtendedRow>
    <template #index>
      &nbsp;
    </template>
    <template #name>
      <b>Name</b>
    </template>
    <template #type>
      <b>Type</b>
    </template>
    <template #source>
      <b>Source</b>
    </template>
    <template #destination>
      <b>Destination</b>
    </template>
    <template #pipette>
      <b>Pipette</b>
    </template>
    <template #tipsStrategy>
      <b>Tips Strategy</b>
    </template>
    <template #liquidClass>
      <b>Liquid Class</b>
    </template>
    <template #volume>
      <b>Volume</b>
    </template>
    <template #additional-parameters>
      <b>Additional parameters</b>
    </template>
  </StepItemExtendedRow>
</template>

<script>
import StepItemExtendedRow from './StepItemExtendedRow.vue';

export default {
  name: 'StepItem',
  components: { StepItemExtendedRow },
};
</script>
