<template>
  <i
    class="pi pi-question-circle help-tooltip"
    v-tooltip="tooltip"
  />
</template>

<script>
/**
 * Shows an question mark icon with a tootlip. Used to assist the user with extra info.
 */
export default {
  name: "HelpTooltip",
  props: {
    tooltip: {
      type: String,
      default: null,
    },
  },
};
</script>

<style scoped>
.help-tooltip {
  font-size: 0.75em;
  color: #767676;
}
</style>
