<template>
  <component
    :is="draggable ? 'Draggable' : 'div'"
    class="steps-tree"
    :class="{
      'steps-tree--extended': isExtendedView,
      'steps-tree--simple': !isExtendedView,
    }"
    :list="list"
    :value="value"
    tag="div"
    :animation="0"
    group="description"
    :disabled="false"
    ghostClass="ghost"
    @start="onDragStart"
    @end="onDragEnd"
    @input="$emit('input', $event)"
  >
    <div v-for="(step, index) in realValue" :key="step.id">
      <StepItem
        :step="step"
        :step-index="getStepIndex(index)"
        :isExtendedView="isExtendedView"
        :activeStepIds="activeStepIds"
        :disabledStepIds="disabledStepIds"
        :stepTooltip="stepTooltip"
        @step-click="$emit('step-click', $event)"
      />
      <StepsTree
        v-if="step.type === 'loop'"
        :parent-step="getStepIndex(index)"
        :list="step.substeps"
        :draggable="draggable"
        :isExtendedView="isExtendedView"
        :activeStepIds="activeStepIds"
        :disabledStepIds="disabledStepIds"
        :stepTooltip="stepTooltip"
        class="sub-tree"
        :class="{
          'sub-tree--dragging': dragging,
          'sub-tree--filled': step.substeps.length > 0,
        }"
        @start="onDragStart"
        @end="onDragEnd"
        @step-click="$emit('step-click', { step: $event.step, parents: [...($event.parents || []), step] })"
      />
    </div>
  </component>
</template>

<script>
import Draggable from "vuedraggable";
import StepItem from './StepItem.vue';

/**
 * A component that renders the step cards view.
 */
export default {
  name: "StepsTree",
  components: {
    Draggable,
    StepItem,
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null,
    },
    list: {
      required: false,
      type: Array,
      default: null,
    },
    isExtendedView: Boolean,
    draggable: Boolean,
    activeStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    disabledStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    parentStep: {
      required: false,
      type: String,
      default: '',
    },
    stepTooltip: {
      required: false,
      type: Function,
      default: () => ({ disabled: true, value: '' }),
    },
  },
  data() {
    return {
      dragging: false,
    };
  },
  computed: {
    // this.value when input = v-model
    // this.list  when input != v-model
    realValue() {
      return this.value ? this.value : this.list;
    },
  },
  methods: {
    getStepIndex(index) {
      let step = `${index + 1}`;
      if (this.parentStep) {
        return `${this.parentStep}.${step}`;
      }
      return step;
    },
    onDragStart(event) {
      this.dragging = true;
      this.$emit('start', event);
    },
    onDragEnd(event) {
      this.dragging = false;
      this.$emit('end', event);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.steps-tree {
  display: grid;
  grid-auto-rows: minmax(40px, auto);
  grid-row-gap: 20px;
  &--extended {
    display: block;
    .sub-tree--dragging {
      margin-left: 10px;
    }
  }

  &--simple {
    .sub-tree--dragging {
      padding-bottom: 20px;
    }
    .sub-tree--filled {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}

</style>
