<template>
  <StepItemExtendedRow
    :active="activeStepIds.includes(step.id)"
    :disabled="disabledStepIds.includes(step.id)"
    @click="onClick"
  >
    <template #index>
      {{ stepIndex }}
    </template>
    <template #name>
      {{ step.name }}
    </template>
    <template #type>
      {{ getFormTitleFromStepType }}
    </template>
    <template v-if="source" #source>
      <div v-if="source.label">
        <b>{{ source.label }}:</b> {{ source.value }}
      </div>
      <div>
        <b>Offset:</b> {{source.offset }}
      </div>
      <div v-if="source.sequence">
        <b>Locations:</b>
        <div
          v-for="location in source.sequence.locations"
          :key="location.id"
          style="padding-left: 0.5rem;"
        >
          <b>Slot {{ location.slot_number }}:</b> {{ location.wells.join(', ') }}
        </div>
      </div>
    </template>
    <template v-if="destination" #destination>
      <div v-if="destination.label">
        <b>{{ destination.label }}:</b> {{ destination.value }}
      </div>
      <div>
        <b>Offset:</b> {{destination.offset }}
      </div>
      <div v-if="destination.sequence">
        <b>Locations:</b>
        <div
          v-for="location in destination.sequence.locations"
          :key="location.id"
          style="padding-left: 0.5rem;"
        >
          <b>Slot {{ location.slot_number }}:</b> {{ location.wells.join(', ') }}
        </div>
      </div>
    </template>
    <template v-if="pipette" #pipette>
      {{ pipette }}
    </template>
    <template v-if="tipsStrategy" #tipsStrategy>
      {{ tipsStrategy }}
    </template>
    <template v-if="liquidClass" #liquidClass>
      {{ liquidClass }}
    </template>
    <template v-if="volume" #volume>
      {{ volume }}
    </template>
    <template v-if="step.type === 'bioshake_3000t'" #additional-parameters>
      {{ step.parameters.duration }}s ({{ step.parameters.speed }}rpm, {{ step.parameters.setpoint }}°C)
    </template>
    <template v-else-if="step.type === 'pause'" #additional-parameters>
      <template v-if="step.auto_resume">
        Auto Resume: {{ step.pause_time }}s
      </template>
      <template v-else>
        wait for user
      </template>
    </template>
    <template v-else-if="step.type === 'loop'" #additional-parameters>
      <b>Iterations:</b> {{ step.num_iterations }}
    </template>
    <template v-else-if="step.type === 'restock_tips'" #additional-parameters>
      <div v-if="step.tipsToRefill.left_pipette.length > 0">
        <b>Left Pipette: </b> {{ step.tipsToRefill.left_pipette.join(', ') }}
      </div>
      <div v-if="step.tipsToRefill.right_pipette.length > 0">
        <b>Right Pipette: </b> {{ step.tipsToRefill.right_pipette.join(', ') }}
      </div>
      <div v-if="step.tipsToRefill.left_pipette.length === 0 && step.tipsToRefill.right_pipette.length === 0">
        Not refilling anything
      </div>
    </template>
    <template v-else-if="step.type === 'slack_message'" #additional-parameters>
      <div v-if="step.channel">
        <b>#{{ step.channel }}:</b>
      </div>
      <div v-else>
        <b>No Channel:</b>
      </div>
      <div>
        {{ step.message || '-' }}
      </div>
    </template>
  </StepItemExtendedRow>
</template>

<script>
import StepItemExtendedRow from './extended/StepItemExtendedRow.vue';

export default {
  name: 'StepItem',
  components: { StepItemExtendedRow },
  props: {
    step: {
      type: Object,
      required: true,
    },
    stepIndex: {
      type: String,
      required: true,
    },
    isExtendedView: Boolean,
    activeStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    disabledStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    stepTooltip: {
      required: false,
      type: Function,
      default: () => ({ disabled: true, value: '' }),
    },
  },
  computed: {
    /**
     * Returns the corresponding form title for a step type.
     *
     * @param {string} type - The said step type.
     */
    getFormTitleFromStepType() {
      if (this.step.type === "array_transfer") return "Array Transfer";
      if (this.step.type === "simple_transfer") return "Simple Transfer";
      if (this.step.type === "sequence_transfer") return "Sequence Transfer";
      if (this.step.type === "loop") return "Loop";
      if (this.step.type === "bioshake_3000t") return "Bioshake 3000T";
      if (this.step.type === "timer") return "Timer";
      if (this.step.type === "pause") return "Pause";
      if (this.step.type === "slack_message") return "Slack Message";
      if (this.step.type === "restock_tips") return "Restock Tips";
      return '';
    },
    source() {
      if (this.step.type === 'simple_transfer') {
        return {
          label: 'Slot',
          value: this.step.parameters.source.slot_name || 'none',
          offset: `${this.step.parameters.offset.source} ${this.step.parameters.offset.source_type}`,
        };
      }
      if (this.step.type === 'sequence_transfer') {
        const sourceSequence = this.$store.getters.cachedProtocolSequences.find(({ id }) => id === this.step.parameters.sourceSequenceId);
        return {
          label: 'Sequence',
          value: this.step.parameters.source_sequence || 'none',
          offset: `${this.step.parameters.offset.source} ${this.step.parameters.offset.source_type}`,
          sequence: sourceSequence,
        };
      }
      if (this.step.type === 'array_transfer') {
        return {
          offset: `${this.step.parameters.offset.source} ${this.step.parameters.offset.source_type}`,
        };
      }

      return null;
    },
    destination() {
      if (this.step.type === 'simple_transfer') {
        return {
          label: 'Slot',
          value: this.step.parameters.destination.slot_name || 'none',
          offset: `${this.step.parameters.offset.destination} ${this.step.parameters.offset.destination_type}`,
        };
      }
      if (this.step.type === 'sequence_transfer') {
        const destinationSequence = this.$store.getters.cachedProtocolSequences.find(({ id }) => id === this.step.parameters.destinationSequenceId);
        return {
          label: 'Sequence',
          value: this.step.parameters.destination_sequence || 'none',
          offset: `${this.step.parameters.offset.destination} ${this.step.parameters.offset.destination_type}`,
          sequence: destinationSequence,
        };
      }
      if (this.step.type === 'array_transfer') {
        return {
          offset: `${this.step.parameters.offset.destination} ${this.step.parameters.offset.destination_type}`,
        };
      }

      return null;
    },
    pipette() {
      if (['simple_transfer', 'sequence_transfer', 'array_transfer'].includes(this.step.type)) {
        return this.step.parameters.pipette || 'none';
      }

      return null;
    },
    tipsStrategy() {
      if (['simple_transfer', 'sequence_transfer', 'array_transfer'].includes(this.step.type)) {
        return this.step.parameters.tipsStrategy || 'none';
      }

      return null;
    },
    liquidClass() {
      if (['simple_transfer', 'sequence_transfer', 'array_transfer'].includes(this.step.type)) {
        return this.step.parameters.liquidClass || 'none';
      }

      return null;
    },
    volume() {
      if (['simple_transfer', 'sequence_transfer'].includes(this.step.type)) {
        return this.step.parameters.volumes_string || '0';
      }

      return null;
    },
  },
  methods: {
    onClick() {
        this.$emit('step-click', { step: this.step, parents: [] });
    },
  },
};
</script>
