<template>
  <div class="step-item__wrapper">
    <Badge
      :value="stepIndex"
      severity="info"
      class="index-badge"
      :class="{
        'index-badge--disabled': disabledStepIds.includes(step.id),
      }"
    />
    <div
      class="step-item"
      :class="{
        'step-item--active': activeStepIds.includes(step.id),
        'step-item--with-badge': step.type === 'loop',
        'step-item--disabled': disabledStepIds.includes(step.id),
      }"
      v-badge="step.type === 'loop' ? step.num_iterations : null"
      v-tooltip="stepTooltip(step)"
      @click="onStepClick(step)"
    >
      <p class="step-item__main_text">{{ step.name }}</p>
      <p class="step-item__sub_text">
        {{ getFormTitleFromStepType }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StepItem',
  props: {
    step: {
      type: Object,
      required: true,
    },
    stepIndex: {
      type: String,
      required: true,
    },
    isExtendedView: Boolean,
    activeStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    disabledStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    stepTooltip: {
      required: false,
      type: Function,
      default: () => ({ disabled: true, value: '' }),
    },
  },
  computed: {
    /**
     * Returns the corresponding form title for a step type.
     *
     * @param {string} type - The said step type.
     */
    getFormTitleFromStepType() {
      if (this.step.type === "array_transfer") return "Array Transfer";
      if (this.step.type === "simple_transfer") return "Simple Transfer";
      if (this.step.type === "sequence_transfer") return "Sequence Transfer";
      if (this.step.type === "loop") return "Loop";
      if (this.step.type === "bioshake_3000t") return "Bioshake 3000T";
      if (this.step.type === "timer") return "Timer";
      if (this.step.type === "pause") return "Pause";
      if (this.step.type === "slack_message") return "Slack Message";
      return '';
    },
  },
  methods: {
    onStepClick(step) {
      this.$emit('step-click', { step, parents: [] });
    },
  },
};
</script>

<style lang="scss" scoped>

.step-item__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.step-item {
  width: 310px;
  height: 48px;
  display: grid;
  grid-template-rows: 12px 10px;
  grid-row-gap: 5px;
  background: #efefff;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 33px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 2px;
  margin-left: 10px;
  cursor: pointer;
  &--active {
    box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
      2px 2px 9px 2px #2196f3aa;
    background: #2196f325;
  }
  &--disabled,
  .index-badge--disabled {
    opacity: 0.3;
  }
  &:active {
    border: thin solid #2196f3aa;
  }


  &::v-deep .p-badge-dot {
    display: none;
  }
  &--with-badge::v-deep .p-badge-dot {
    display: block;
  }
  &__main_text {
    width: 232px;
    height: 16px;
    font-size: 12px;
    color: #040716;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 0px;
  }
  &__sub_text {
    font-size: 10px;
    color: #767676;
    justify-self: end;
    margin: 0px;
  }
}
</style>
