<template>
  <component
    :is="component"
    :step="step"
    :step-index="stepIndex"
    :isExtendedView="isExtendedView"
    :activeStepIds="activeStepIds"
    :disabledStepIds="disabledStepIds"
    :stepTooltip="stepTooltip"
    @step-click="$emit('step-click', $event)"
  />
</template>

<script>
import StepItemExtended from './StepItemExtended.vue';
import StepItemSimple from './StepItemSimple.vue';

export default {
  name: 'StepItem',
  props: {
    step: {
      type: Object,
      required: true,
    },
    stepIndex: {
      type: String,
      required: true,
    },
    isExtendedView: Boolean,
    activeStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    disabledStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    stepTooltip: {
      required: false,
      type: Function,
      default: () => ({ disabled: true, value: '' }),
    },
  },
  computed: {
    component() {
      return this.isExtendedView ? StepItemExtended : StepItemSimple;
    },
  }
};
</script>
