<template>
  <div style="display: grid;">
    <StepItemExtendedHeader v-if="isExtendedView" />
    <StepItemExtendedRow v-if="isExtendedView && value.length === 0" empty />
    <StepsTree
      :value="value"
      :draggable="draggable"
      :isExtendedView="isExtendedView"
      :activeStepIds="activeStepIds"
      :disabledStepIds="disabledStepIds"
      :stepTooltip="stepTooltip"
      @step-click="$emit('step-click', $event)"
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
import StepItemExtendedHeader from '../steps/extended/StepItemExtendedHeader.vue';
import StepItemExtendedRow from '../steps/extended/StepItemExtendedRow.vue';
import StepsTree from '../steps/StepsTree.vue';

export default {
  name: "StepsOverview",
  components: {
    StepItemExtendedHeader,
    StepItemExtendedRow,
    StepsTree,
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null,
    },
    isExtendedView: Boolean,
    draggable: Boolean,
    activeStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    disabledStepIds: {
      required: false,
      type: Array,
      default: () => [],
    },
    stepTooltip: {
      required: false,
      type: Function,
      default: () => ({ disabled: true, value: '' }),
    },
  },
};
</script>
