<template>
  <InputText
    type="text"
    :value="stepName"
    @input="$emit('update:step-name', $event)"
    @blur="validateStepName"
  />
</template>

<script>
import { getSafeStepName } from '../../utils/step-utils';

export default {
  name: "StepNameInput",
  model: {
    prop: 'stepName',
    event: 'update:step-name',
  },
  props: {
    stepName: {
      type: String,
      required: true,
    },
  },
  methods: {
    validateStepName() {
      const safeName = getSafeStepName(this.stepName, this.$store.getters.flattedCachedProtocolSteps, true);
      if (safeName !== this.stepName) {
        this.$toast.add({
          severity: "info",
          summary: "Notification",
          detail: "Name updated to avoid name duplication.",
          life: 2000,
        });
        this.$emit('update:step-name', safeName);
      }
    },
  },
};
</script>
