<template>
  <Accordion
    class="subcategories_accordion"
    :class="{ 'subcategories_accordion--selected': subcategory }"
  >
    <AccordionTab
      :header="humanSubcategory || 'Subcategory'"
      class="subcategories_accordion_tab"
    >
      <Tree
        :value="categoriesTree"
        selectionMode="single"
        :selectionKeys="subcategoryObject"
        @update:selectionKeys="onUpdateSubcategoryObject"
      />
    </AccordionTab>
  </Accordion>
</template>

<script>
import Accordion from 'primevue/accordion';
import AccordionTab from 'primevue/accordiontab';
import Tree from 'primevue/tree';

import CATEGORIES_TREE, { CATEGORIES_LEAVES_MAP } from '../../constants/categories-tree';

export default {
  name: "SubcategoriesTreeAccordion",
  components: {
    Accordion,
    AccordionTab,
    Tree,
  },
  model: {
    prop: 'subcategory',
    event: 'update:subcategory',
  },
  props: {
    subcategory: {
      type: String,
      default: null,
    },
  },
  computed: {
    subcategoryObject() {
      if (this.subcategory) {
        return { [this.subcategory]: true };
      }

      return {};
    },
    categoriesTree() {
      return CATEGORIES_TREE.root.map((category) => ({
        ...category,
        selectable: false, // make root categories not selectable
      }));
    },
    humanSubcategory() {
      return this.subcategory ? CATEGORIES_LEAVES_MAP[this.subcategory] : null;
    },
  },
  methods: {
    onUpdateSubcategoryObject(subcategoryObject) {
      this.$emit('update:subcategory', subcategoryObject ? Object.keys(subcategoryObject)[0] : null)
    }
  },
};
</script>

<style scoped>
.subcategories_accordion::v-deep .p-accordion-header .p-accordion-header-link,
.subcategories_accordion::v-deep .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  height: 32px;
  border: none;
  color: #aaaaaa;
}

.subcategories_accordion--selected::v-deep .p-accordion-header .p-accordion-header-link,
.subcategories_accordion--selected::v-deep .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  color: #495057;
}
.subcategories_accordion::v-deep .p-accordion-header .p-accordion-header-link {
  font-weight: normal;
}
.subcategories_accordion::v-deep .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  font-weight: bold;
}
</style>
