<template>
  <Dropdown
    :value="team"
    class="team-dropdown"
    :options="teamOptions"
    optionLabel="name"
    optionValue="id"
    placeholder="Select a Team"
    :filter="true"
    filterPlaceholder="Find a Team"
    @input="$emit('update:team', $event)"
  />
</template>

<script>
import TEAMS from '../../constants/teams';

export default {
  name: 'TeamDropdown',
  model: {
    prop: 'team',
    event: 'update:team',
  },
  props: {
    team: {
      type: String,
      default: null,
    }
  },
  computed: {
    teamOptions() {
      return TEAMS;
    },
  },
};
</script>

<style scoped>
.team-dropdown {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 14px;
  height: 32px;
  border: none;
}
</style>
