<template>
  <div v-if="isLoading" class="main_container">
    <ProgressSpinner
      class="loading"
      animationDuration="1.5s"
    />
  </div>
  <div v-else-if="hasFailed" class="main_container">
    <div class="error">
      Something went wrong, please contact your admin.
    </div>
  </div>
  <div v-else class="main_container">
    <MainSidePanel />
    <router-view id="left_side_panel" name="LeftSidePanel" />
    <div class="secondary_container">
      <router-view id="top_nav_bar" name="TopNavBar" />
      <router-view id="display_view" name="DisplayView" />
    </div>
  </div>
</template>

<script>
import MainSidePanel from "../components/layout/MainSidePanel.vue";
import { AuthGetter } from '../types/store-modules/AuthTypes';
import types from '../types';

/**
 * A component that renders the protocol designer page.
 */
export default {
  components: { MainSidePanel },
  name: "ProtocolDesignerPage",
    data() {
    return {
      isLoading: true,
      hasFailed: false,
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters[AuthGetter.userIsLoggedIn];
    },
  },
  async mounted() {
    if (this.isLoggedIn) {
      this.isLoading = true;
      this.hasFailed = false;
      try {
        await this.$store.dispatch(types.LOAD_LABWARES);
      } catch {
        this.hasFailed = true;
      }
      this.isLoading = false;
    }
  }
};
</script>

<style scoped>
.main_container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.secondary_container {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  width: 100%;
}
#display_view {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: stretch;
  align-content: stretch;
}

.loading {
  display: block;
  height: 75px;
  margin: auto;
  margin-top: 3rem;
}

.error {
  text-align: center;
  margin-top: 3rem;
  color: var(--red-500);
  font-weight: bold;
  font-size: 1.5em;
}
</style>
