<template>
  <div v-if="isLoading">
    <ProgressSpinner style="margin-top: 5rem;" />
  </div>
  <div v-else-if="hasFailed">
    Something went wrong
  </div>
  <router-view v-else />
</template>

<script>
import types from "../types";
import { CRUD_API_URL } from "../urls";

/**
 * A component that loads and renders the protocol details.
 */
export default {
  name: "ProtocolDetails",
  inject: ["$client"],
  data() {
    return {
      isLoading: false,
      hasFailed: false,
    };
  },
  computed: {
    protocolId() {
      return this.$route.params.id;
    },
  },
  mounted() {
    this.fetchProtocol();
  },
  watch: {
    protocolId() {
      this.fetchProtocol();
    },
  },
  methods: {
    async fetchProtocol() {
      this.isLoading = true;
      this.hasFailed = false;
      try {
        const response = await this.$client.get(
          `${CRUD_API_URL}/protocol/${this.protocolId}`
        );
        await this.$store.dispatch(types.VIEW_PROTOCOL, response.data);
      } catch {
        this.$toast.add({
          severity: "error",
          summary: "Notification",
          detail: "Could not load protocol",
          life: null,
        });
        this.hasFailed = true;
      }
      this.isLoading = false;
    },
  },
};
</script>
