<template>
  <router-link
    :to="to"
    custom
    v-slot="{ navigate, isActive, isExactActive }"
  >
    <Button
      :label="label"
      :icon="icon"
      :disabled="exact ? isExactActive : isActive"
      :class="{
        [activeClass]: isActive,
        [exactActiveClass]: isExactActive,
        [inactiveClass]: !isActive && !isExactActive,
      }"
      @click="navigate"
    />
  </router-link>
</template>

<script>
export default {
  name: "RouterButton",
  props: {
    label: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    to: {
      type: [Object, String],
      required: true,
    },
    exact: Boolean,
    activeClass: {
      type: String,
      default: '',
    },
    exactActiveClass: {
      type: String,
      default: '',
    },
    inactiveClass: {
      type: String,
      default: '',
    },
  },
};
</script>
