<template>
  <div style="margin-bottom: 1.5rem">
    <div class="pipette__label">
      {{ title }}:
    </div>
    <div class="pipette__name-value">
      {{ pipette.pipette.name }}
    </div>
    <div style="margin-top: 1rem">
      <div class="pipette__label">
        Tip Racks to Refill
      </div>
      <div class="field-checkbox field-checkbox--select-all">
        <TriStateCheckbox
          :id="`all-tips-rack-${pipette.pipette.id}`"
          :value="allTips"
          class="checkbox"
          @input="toggleAllTipracks"
        />
        <label :for="`all-tips-rack-${pipette.pipette.id}`" style="margin-left: 0.5rem;"> {{ tristateLabel }} </label>
      </div>
      <div v-for="tiprack in pipette.tipracks" :key="tiprack" class="field-checkbox">
        <Checkbox
          :id="`tip-rack-${tiprack}`"
          :modelValue="tipsToRefill"
          :value="tiprack"
          class="checkbox"
          @input="$emit('update:tips-to-refill', $event)"
        />
        <label :for="`tip-rack-${tiprack}`" style="margin-left: 0.5rem;">{{ tiprack }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RestockTipsConfigForm",
  model: {
    prop: 'tipsToRefill',
    event: 'update:tips-to-refill',
  },
  props: {
    tipsToRefill: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    pipette: {
      type: Object,
      required: true,
    },
  },
  computed: {
    allTips() {
      const filteredArray = this.pipette.tipracks.filter((tipRack) => this.tipsToRefill.includes(tipRack));
      if (filteredArray.length !== this.pipette.tipracks.length) {
        return null;
      }
      return filteredArray.length === this.pipette.tipracks.length;
    },
    tristateLabel() {
      return this.allTips ? 'Deselect All' : 'Select All';
    },
  },
  methods: {
    getCheckboxState(tiprack) {
      return this.tipsToRefill.includes(tiprack);
    },
    toggleCheckboxState(tiprack, isChecked) {
      let newTipsToRefill = [...this.tipsToRefill];
      if (isChecked) {
        newTipsToRefill.push(tiprack);
      } else {
        newTipsToRefill = this.tipsToRefill.filer((tip) => tip !== tiprack);
      }

      this.$emit('update:tips-to-refill', newTipsToRefill);
    },
    toggleAllTipracks(allTips) {
      if (allTips) {
        this.$emit('update:tips-to-refill', this.pipette.tipracks);
      } else {
        this.$emit('update:tips-to-refill', []);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.pipette {
  &__empty {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--surface-500);
  }
  &__label {
    font-size: 0.9rem;
    font-weight: bold;
  }
  &__name-value {
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }
}

.field-checkbox {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  &--select-all {
    color: var(--surface-700);
  }
  .checkbox {
    transform: scale(0.8);
  }
}
</style>
