<template>
  <div>
    <div class="explore-layout">
      <Accordion class="explore-layout__accordion" :activeIndex="isActive ? 0 : null">
        <AccordionTab disabled>
          <template #header>
            <div class="explore-layout__header">
              <RouterButton
                v-if="goBackLocation"
                :to="goBackLocation"
                icon="pi pi-chevron-left"
                class="p-button-rounded p-button-text explore-layout__header__go-back"
                exact
              />
              <div class="explore-layout__header__title">
                <span
                  class="explore-layout__header__title__text"
                  :class="{ 'explore-layout__header__title__text--with-go-back': goBackLocation }"
                >
                  {{ title }}
                </span>
              </div>
              <div class="explore-layout__header__slot">
                <slot name="header" :toggle="toggle" />
              </div>
            </div>
          </template>
          <slot name="header-details" />
        </AccordionTab>
      </Accordion>
      <div class="explore-layout__body">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import Accordion from 'primevue/accordion';
import AccordionTab from 'primevue/accordiontab';

import RouterButton from '@/components/routing/RouterButton.vue';

export default {
  name: "ExploreLayout",
  components: {
    Accordion,
    AccordionTab,
    RouterButton,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    goBackLocation: {
      type: [Object, String],
      default: null,
    }
  },
  data() {
    return {
      isActive: false,
    };
  },
  methods: {
    toggle() {
      this.isActive = !this.isActive;
    },
  },
};
</script>

<style type="scss" scoped>
.explore-layout {
  min-width: 1100px;
  height: 85vh;
  width: 90%;
  background: #efefff;
  box-shadow: 6px 6px 9px 4px rgba(0, 0, 0, 0.25),
    -10px -10px 9px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  direction: column;

  display: flex;
  flex-direction: column;
}
.explore-layout__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;

  background: #efefff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.explore-layout__accordion.p-accordion::v-deep .p-accordion-tab:first-child .p-accordion-header .p-accordion-header-link {
  padding: 0;
  border: none;
}
.explore-layout__accordion.p-accordion::v-deep .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  display: none;
}
/**
 * This is a hack to get the accordion to work only with the custom toggle method.
 */
.explore-layout__accordion.p-accordion::v-deep .p-accordion-header.p-disabled,
.explore-layout__accordion.p-accordion::v-deep .p-accordion-header.p-disabled * {
  cursor: inherit !important;
  pointer-events: inherit !important;
  user-select: inherit !important;
  opacity: inherit !important;
}

.explore-layout__accordion.p-accordion::v-deep .p-accordion-header.p-disabled .explore-layout__header__go-back {
  cursor: pointer !important;
}
.explore-layout__header__title__text {
  padding-left: 30px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #040716;
}
.explore-layout__header__title__text--with-go-back {
  padding-left: 10px;
}
.explore-layout__header__slot {
  flex: 1 1 auto;
  min-width: 1px;
  padding-right: 30px;
}

.explore-layout__body {
  flex: 1 1 auto;
  min-height: 1px;
}
</style>
