<template>
  <div>
    <div class="protocol_side_panel">
      <div class="protocol_side_panel__grid">
        <span class="protocol_side_panel__title"> Protocol </span>
      </div>
      <div class="protocol_side_panel__button_group">
        <div class="protocol_side_panel__grid">
          <RouterButton
            :to="{ name: 'explore-protocols-root' }"
            label="Explore"
            class="base_button large_button_"
          />
          <RouterButton
            :to="{ name: 'create-protocol' }"
            label="Create New"
            class="base_button large_button_"
            exact
          />
        </div>
        <div class="protocol_side_panel__grid import-container">
          <ProgressSpinner
            v-show="isImporting"
            class="import-container__progress_spinner"
            strokeWidth="4"

          />
          <Button
            label="Import"
            class="base_button large_button_"
            for="uploadmyfile"
            :disabled="isImporting"
            @click="requestUploadFile"
          />
        </div>
        <input
          type="file"
          id="uploadmyfile"
          ref="uploadmyfile"
          @change="importProtocolFromFile"
          accept="application/json"
        />
      </div>
    </div>
  </div>
</template>

<script>
import types from "../../types";

import RouterButton from "../routing/RouterButton.vue";

/**
 * A component that renders the protocol side panel.
 */
export default {
  name: "ProtocolSidePanel",
  components: { RouterButton },
  data() {
    return {
      isImporting: false,
    };
  },
  methods: {
    /**
     * Opens a protocol in the protocol editor.
     */
    async viewProtocol(obj) {
      try {
        this.isImporting = true;
        const id = await this.$store.dispatch(types.IMPORT_PROTOCOL, obj);
        this.$router.push({
          name: 'protocol-metadata',
          params: { id },
        });
        this.isImporting = false;
        this.$toast.add({
          severity: "info",
          summary: "Notification",
          detail: "Protocol Created",
          life: 2000,
        });
      } catch {
        this.$toast.add({
          severity: "error",
          summary: "Notification",
          detail: "Protocol Import Failed",
          life: null,
        });
      }
    },
    /**
     * Imports a protocol from a file into the protocol editor.
     */
    importProtocolFromFile() {
      const reader = new FileReader();
      reader.onload = () => {
        const fileContent = JSON.parse(reader.result);

        this.viewProtocol(fileContent);
      };
      reader.readAsText(this.$el.querySelector("#uploadmyfile").files[0]);
      this.$refs.uploadmyfile.value = null;
    },
    requestUploadFile() {
      this.$refs.uploadmyfile.click();
    },
  },
};
</script>

<style scoped>
.protocol_side_panel__title {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #efefff;
}
#uploadmyfile {
  display: none;
}
.protocol_side_panel__grid {
  display: grid;
  flex-direction: column;
  justify-items: center;
  align-self: start;
  grid-gap: 12px;
}
.protocol_side_panel__button_group {
  display: grid;
  flex-direction: column;
  justify-items: center;
  margin-top: 25px;
  margin-bottom: 100px;
  align-self: stretch;
  grid-template-rows: 1fr auto;
}
.protocol_side_panel {
  background: #171a2e;
  height: 100%;
  width: 270px;
  display: grid;
  direction: column;
  grid-template-rows: 60px 1fr;
}
.import-container {
  position: relative
}
.import-container__progress_spinner {
  position: absolute;
  top: 5px;
  right: -30px;

  display: block;
  height: 30px;
}
</style>
