<template>
  <div
    @click="openProtocolInEditor"
    :class="{
      'protocol-card': true,
      'protocol-card--verified': protocolIsVerified,
      'protocol-card--not-verified': !protocolIsVerified,
    }"
    v-tooltip.bottom="protocolTooltip"
  >
    <i v-if="!protocol.isShared" v-tooltip="'Private Protocol'" class="pi pi-eye-slash protocol-card__protocol-is-shared" />
    <p class="protocol-card__protocol-name">{{ protocolName }}</p>
    <p class="protocol-card__protocol-description">{{ protocolDescription }}</p>
    <div class="protocol-card__protocol-footer">
      <Tag :value="protocolSubcategory" class="protocol-card__protocol-subcategory" />
      <p class="protocol-card__protocol-author">{{ protocolAuthorName }}</p>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Tag from 'primevue/tag';
import types from "../../types";
import { backendClient } from "../../config/containers";
import { CRUD_API_URL } from "../../urls";
import { CATEGORIES_LEAVES_MAP } from '../../constants/categories-tree';

/**
 * A component that renders information about a protocol on a card and allows
 * click events to load the protocol editor with the protocol's data.
 */
export default {
  name: "ProtocolCard",
  components: { Tag },
  props: {
    /**
     * The protocol whose information is to be displayed on the card.
     */
    protocol: Object,
  },
  methods: {
    /**
     * Loads the protocol editor with the protocol's data.
     */
    async openProtocolInEditor() {
      const response = await backendClient.get(
        `${CRUD_API_URL}/protocol/${this.protocol.id}`
      );
      this.$store.dispatch(types.VIEW_PROTOCOL, response.data).then(() => {
        this.$router.push({
          name: "protocol-metadata",
          params: {
            id: this.protocol.id,
          },
        });
      });
    },
  },
  computed: {
    /**
     * A getter for the name of the mapped protocol.
     */
    protocolName() {
      return this.protocol.name;
    },
    /**
     * A getter for the description of the mapped protocol.
     */
    protocolDescription() {
      return this.protocol.description;
    },
    /**
     * A getter for the name of the mapped protocol's author.
     */
    protocolAuthorName() {
      return this.protocol.createdBy;
    },
    /**
     * A getter for the verification status of the mapped protocol.
     */
    protocolIsVerified() {
      return this.protocol.isVerified;
    },
    protocolSubcategory() {
      return this.protocol.subcategory ? CATEGORIES_LEAVES_MAP[this.protocol.subcategory] : 'none';
    },
    protocolTooltip() {
      return `Creation Date: ${moment(this.protocol.createdAt).format('DD/MM/YYYY, h:m a')}
Last Modification Date: ${moment(this.protocol.modifiedAt).format('DD/MM/YYYY, h:m a')}`;
    }
  },
};
</script>

<style scoped>
.protocol-card--not-verified {
  border-left: 5px solid #c4c4c4;
}
.protocol-card--verified {
  border-left: 5px solid #1246a988;
}
.protocol-card {
  background: #efefff;
  box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px 22px 10px 22px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: minmax(2em, auto) minmax(6.5em, auto) 1em;
  cursor: pointer;
  position: relative;
}
.protocol-card:hover {
  box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px #2196f377;
}
.protocol-card:active {
  border-top: thin solid #2196f377;
  border-right: thin solid #2196f377;
  border-bottom: thin solid #2196f377;
  border-left: 5px solid #2196f377;
}
.protocol-card__protocol-name {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: #040716;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.protocol-card__protocol-description {
  margin: 0;
  font-weight: 600;
  font-size: 9px;
  color: #040716;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.protocol-card__protocol-footer {
  display: flex;
  justify-content: space-between;
}
.protocol-card__protocol-author {
  margin: 0;
  font-weight: 600;
  font-size: 8px;
  text-align: right;
  color: #767676;
}
.protocol-card__protocol-is-shared {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
</style>
