<template>
  <router-link
    :to="{
      name: 'explore-protocols',
      params: {
        teamId: team.id,
      },
    }"
    class="team-card__container"
  >
    <div class="team-card__top"></div>
    <div class="team-card">
      <p class="team-card__name">{{ team.name }}</p>
    </div>
  </router-link>
</template>

<script>
/**
 * A component that renders information about a team on a card.
 */
export default {
  name: "TeamCard",
  props: {
    team: Object,
  },
};
</script>

<style scoped>
.team-card__container {
  display: grid;
  grid-template-rows: 15px auto;
  color: inherit;
  text-decoration: inherit;
}
.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #efefff;
  box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px 22px 12px 22px;
  cursor: pointer;
  z-index: 6;
}
.team-card__top {
  width: 50%;
  height: 100%x;
  background-color: #8a8a8a;
  border-radius: 4px 4px 0 0;
  box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px rgba(0, 0, 0, 0.25);
  z-index: 5;
}
.team-card:hover {
  box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px rgba(0, 0, 0, 0.25),
    4px 4px 4px 2px rgba(255, 255, 255, 0.25),
    4px 4px 9px 2px #2196f377;
}
.team-card__container:active {
  border-top: thin solid #2196f377;
  border-right: thin solid #2196f377;
  border-bottom: thin solid #2196f377;
  border-left: thin solid #2196f377;
}
.team-card__name {
  margin: 0;
  margin-top: -1rem;

  font-weight: 600;
  font-size: 1.5rem;
  color: #040716;

  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>
