<template>
  <div>
    <div class="input-switch field">
        <Checkbox
          v-model="checked"
          :id="`parameterized-user-input-switch-${_uid}`"
          class="input-switch__switch"
          binary
        />
        <label class="input-switch__label" :for="`parameterized-user-input-switch-${_uid}`">User Input</label>
    </div>
    <div v-if="checked" class="label-form field">
        <label :for="`label-form-${_uid}`">Label</label>
        <VSelect
          :id="`label-form-${_uid}`"
          class="label-form__input"
          :options="parameterizedUserInputOptions"
          :value="label"
          taggable
          placeholder="Enter a label (it can be reused)"
          :selectable="isLabelSelectable"
          @input="onUpdateLabel"
        />
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css';
import VSelect from 'vue-select';

import { ParameterizedUserInputGetter, ParameterizedUserInputMutation } from '../../../types/store-modules/ParameterizedUserInputType';

export default {
  name: 'ParameterizedUserInput',
  components: {
    VSelect,
  },
  props: {
    dataType: {
      type: String,
      required: true,
      validator(value) {
        return ['number', 'integer', 'string', 'wells', 'slot', 'liquidClass'].includes(value)
      },
    },
    type: {
      type: String,
      required: true,
      validator(value) {
        return ['step', 'sequence'].includes(value)
      },
    },
    id: {
      type: Number,
      default: null,
    },
    path: {
      type: String,
      default: null,
    },
  },
  computed: {
    parameterizedUserInput() {
      return this.$store.getters[ParameterizedUserInputGetter.getParameterizedUserInput]({
        id: this.id,
        path: this.path,
        type: this.type,
      });
    },
    parameterizedUserInputOptions() {
      return [...new Set(
        this.$store.getters[ParameterizedUserInputGetter.parameterizedUserInput]
          .map((parameterizedUserInput) => parameterizedUserInput.label)
      )];
    },
    checked: {
      get() {
        return this.parameterizedUserInput !== null;
      },
      set(checked) {
        this.onUpdateChecked(checked);
      }
    },
    label() {
      return this.parameterizedUserInput ? this.parameterizedUserInput.label : '';
    },
  },
  methods: {
    isLabelSelectable(label) {
      // the label is invalid if it is already used for a different data type
      return !this.$store.getters[ParameterizedUserInputGetter.parameterizedUserInput].find((parameterizedUserInput) => {
        return parameterizedUserInput.label === label && parameterizedUserInput.dataType !== this.dataType;
      });
    },
    onUpdateChecked(checked) {
      const parameterizedUserInputForm = {
        id: this.id,
        type: this.type,
        path: this.path,
        label: this.label,
        dataType: this.dataType,
      };
      if (checked) {
        this.$store.commit(ParameterizedUserInputMutation.updateParameterizedUserInput, parameterizedUserInputForm);
      } else {
        this.$store.commit(ParameterizedUserInputMutation.removeParameterizedUserInput, parameterizedUserInputForm);
      }
    },
    onUpdateLabel(label) {
      this.$store.commit(ParameterizedUserInputMutation.updateParameterizedUserInput, {
        id: this.id,
        type: this.type,
        path: this.path,
        label: label || '',
        dataType: this.dataType,
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.input-switch {
  &__label {
    font-size: 0.6em;
  }
  &__switch {
    scale: 0.5;
  }
}

.label-form {
  margin-left: 1.4rem;

  label {
    font-size: 0.6em;
    margin-right: 0.5rem;
  }
  &__input {
    background: #efefff;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
      inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
      inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    font-size: 12px;
    width: 80%;
    height: 32px;
    border: none;
  }
}

</style>
