<template>
  <div>
    <div class="create_protocol_form">
      <p class="create_protocol_form__title">Create New Protocol</p>
      <div class="create_protocol_form__input_group">
        <InputText
          type="text"
          placeholder="Name"
          class="create_protocol_form__name_input"
          v-model="name"
        />
        <Textarea
          placeholder="Description"
          class="create_protocol_form__description_input"
          v-model="description"
        />
        <TeamDropdown
          v-model="team"
          class="create_protocol_form__team_input"
        />
        <SubcategoriesTreeAccordion
          v-model="subcategory"
        />
      </div>
      <div class="button_container">
        <ProgressSpinner
          class="create_protocol_form__progress_spinner"
          strokeWidth="8"
          animationDuration=".5s"
          v-show="protocolCreationInProgress"
        />
        <Button
          label="Create New"
          class="base_button small_button_"
          @click="createProtocol"
          :disabled="!formInputIsValidForSubmission || protocolCreationInProgress"
        />
      </div>
    </div>
  </div>
</template>

<script>
import types from "../../types";

import TEAMS from '../../constants/teams';
import CATEGORIES_TREE, { CATEGORIES_LEAVES_MAP } from '../../constants/categories-tree';

import TeamDropdown from '../inputs/TeamDropdown.vue';
import SubcategoriesTreeAccordion from '../inputs/SubcategoriesTreeAccordion.vue';

/**
 * A component that accepts user input for the creation of a new protocol.
 */
export default {
  name: "CreateProtocolForm",
  components: {
    TeamDropdown,
    SubcategoriesTreeAccordion,
  },
  data() {
    return {
      /**
       *  Stores the user input for the name of the new protocol.
       */
      name: "",
      /**
       *  Stores the user input for the description of the new protocol.
       */
      description: "",
      /**
       * Stores the user input for the team of the new protocol.
       */
      team: null,
      /**
       * Stores the user input for the subcategory of the new protocol.
       */
      subcategory: null,
      /**
       *  A flag to indicate if the new protocol is already being created.
       */
      protocolCreationInProgress: false,
    };
  },
  computed: {
    /**
     *  Validates the protocol creation form inputs against submission.
     */
    formInputIsValidForSubmission() {
      return this.name && this.description && this.team && this.subcategory;
    },
    teamOptions() {
      return TEAMS;
    },
    categoriesTree() {
      return CATEGORIES_TREE.root.map((category) => ({
        ...category,
        selectable: false, // make root categories not selectable
      }));
    },
    humanSubcategory() {
      return this.subcategory ? CATEGORIES_LEAVES_MAP[this.subcategory] : null;
    },
  },
  methods: {
    /**
     *  Creates a new protocol from the form inputs.
     */
    async createProtocol() {
      this.protocolCreationInProgress = true;
      const id = await this.$store.dispatch(types.CREATE_PROTOCOL, {
        name: this.name,
        description: this.description,
        team: this.team,
        subcategory: this.subcategory,
      });
      this.$router.push({
        name: 'protocol-metadata',
        params: { id },
      });
      this.protocolCreationInProgress = false;
      this.$toast.add({
        severity: "info",
        summary: "Notification",
        detail: "Protocol Created",
        life: 2000,
      });

    },
  },
};
</script>

<style scoped>
.button_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8px;
  justify-content: end;
}
.create_protocol_form__progress_spinner {
  height: 24px;
  width: 24px;
}
.create_protocol_form {
  width: 557px;
  height: auto;
  padding-bottom: 1rem;
  background: #efefff;
  align-self: center;
  justify-self: center;
  box-shadow: -10px -10px 9px 4px rgba(255, 255, 255, 0.25),
    6px 6px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: grid;
  direction: column;
  justify-content: center;
  grid-row-gap: 5px;
}
.create_protocol_form__title {
  font-weight: 600;
  font-size: 18px;
  color: #040716;
  margin: 0;
  margin-top: 27px;
  padding-bottom: 0px;
}
.create_protocol_form__name_input {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 14px;
  width: 352px;
  height: 32px;
  border: none;
}
.create_protocol_form__description_input {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 14px;
  width: 352px;
  height: 69px;
  border: none;
  resize: none;
}
.create_protocol_form__team_input {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 14px;
  width: 352px;
  height: 32px;
  border: none;
}
.create_protocol_form__team_input::v-deep .p-dropdown-label {
  font-size: 14px;
}
.create_protocol_form__input_group {
  display: grid;
  gap: 0.5rem;
}



.create_protocol_form__subcategory_accordion::v-deep .p-accordion-header .p-accordion-header-link,
.create_protocol_form__subcategory_accordion::v-deep .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  width: 352px;
  font-size: 14px;
}
</style>
