<template>
  <div class="step_config_form" v-if="formType === 'restock_tips'">
    <p class="step_config_form__title">Restock Tips</p>
    <div class="step_config_form__body">
      <div class="step_config_form__body__content">
        <div>
          <p class="step_config_form__body__content__label--medium">
            Step Name
          </p>
          <StepNameInput
            v-model="stepName"
            class="step_config_form__body__content__input--long"
          />
        </div>
        <div>
          <p>Pipettes</p>
          <div v-if="!leftPipette && !rightPipette" class="pipette__empty">
            No pipette added
          </div>
          <RestockTipsInput
            v-if="leftPipette"
            :tips-to-refill="protocolStepForm.tipsToRefill.left_pipette"
            :pipette="leftPipette"
            title="Left Pipette"
            style="margin-bottom: 1.5rem"
            @update:tips-to-refill="onUpdateTipsToRefill('left_pipette', $event)"
          />
          <RestockTipsInput
            v-if="rightPipette"
            :tips-to-refill="protocolStepForm.tipsToRefill.right_pipette"
            :pipette="rightPipette"
            title="Right Pipette"
            style="margin-bottom: 1.5rem"
            @update:tips-to-refill="onUpdateTipsToRefill('right_pipette', $event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import RestockTipsInput from './RestockTipsConfigForm/RestockTipsInput.vue';
import types from "../../types";
import { findDeep } from "../../utils";
import StepNameInput from '../inputs/StepNameInput.vue';

/**
 * Accepts user input for the configuration of a pause step within the object in the protocol cache.
 */
export default {
  name: "RestockTipsConfigForm",
  components: { RestockTipsInput, StepNameInput },
  data() {
    return {
      left_pipette: [],
      right_pipette: [],
    };
  },
  props: {
    /**
     * Determines if this component will be displayed or not (true if its value is set to `pause`).
     */
    formType: String,
    /**
     * Indicates the ID of the user clicked step within the protocol editor UI.
     */
    stepID: Number,
  },
  computed: {
    ...mapGetters(['cachedProtocolSteps', 'cachedProtocolDeck']),
    protocolStepForm() {
      return findDeep(this.cachedProtocolSteps, this.stepID);
    },
    /**
     * A read/write object for the name of the pause step.
     */
    stepName: {
      get: function() {
        return this.protocolStepForm.name;
      },
      set: function(newValue) {
        this.$store.dispatch(types.UPDATE_RESTOCK_TIPS_NAME, {
          id: this.stepID,
          newValue,
        });
      },
    },
    leftPipette() {
      return this.cachedProtocolDeck.left_pipette || null;
    },
    rightPipette() {
      return this.cachedProtocolDeck.right_pipette || null;
    },
  },
  methods: {
    onUpdateTipsToRefill(pipetteKey, tipsToRefill) {
      this.$store.dispatch(types.UPDATE_RESTOCK_TIPS_TIPS_TO_REFILL, {
        id: this.stepID,
        pipetteKey,
        tipsToRefill,
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.step_config_form {
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.form_sub_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}
.step_config_form__body {
  border-radius: 5px;
  box-shadow: 0 -1em 1em -1em #bcbcbc inset;
  padding-top: 20px;
  padding-left: 16px;
  display: grid;
  overflow: auto;
  height: 65vh;
  margin-top: 10px;
}
.step_config_form__body__content {
  align-self: center;
  display: grid;
  grid-row-gap: 3vh;
}
.step_config_form__body__content__input--short {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 12px;
  width: 80%;
  height: 32px;
  border: none;
}
.step_config_form__body__content__input--long {
  background: #efefff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px 3px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 12px;
  width: 91%;
  height: 32px;
  border: none;
}
.step_config_form__title {
  font-size: 18px;
  margin: 0px;
}
.step_config_form__body__content__label--medium {
  font-size: 13px;
  margin: 0px;
  margin-bottom: 8px;
}
.step_config_form__body__content__toggle_button {
  font-size: 11px;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}
.step_config_form__body__content__label--min {
  font-size: 10px;
  margin: 0px;
  margin-bottom: 8px;
}
.step_config_form__body__content__dropdown {
  background: #efefff;
  width: 80%;
  font-size: 9px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25),
    -2px -2px 4px 1px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.pipette {
  &__empty {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--surface-500);
  }
  &__label {
    font-size: 0.9rem;
    font-weight: bold;
  }
  &__name-value {
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }
}
</style>
